---
import Portfolio from '../assets/portfolio.png';

interface Portfolio {
  url: string;
  imgSrc: string;
  title: string;
  technologies: string[];
  build: string;
}

const portfolios = Astro.props.portfolios as Portfolio[];
---

<section 
  id="projects" 
  class="
    flex-col justify-between section gap-5 md:gap-20 lg:gap-30 xl:gap-35
    bg-(--background-color) text-white border-y-8 border-(--border-color)
">
  <div class="head-section">
    <h1 class="second-title">
      Projects
    </h1>
    <h2 class="main-title">
      My Projects
    </h2>
  </div>
  <div class="
    grid grid-cols-1 md:grid-cols-2
    place-content-center place-items-center gap-5 md:gap-[5%]
  ">
    {portfolios.map((portfolio) => (
      <div class="flex flex-col bg-(--border-color) rounded-2xl shadow-2xl">
        <div class="border-2 border-(--border-color) self-center w-[90%] -mt-[8%] h-auto flex items-center justify-center overflow-hidden rounded-lg">
          <img src={portfolio.imgSrc} loading="lazy" />
        </div>
        <div class="
          w-[80%] lg:w-[90%] 
          bg-(--border-color) text-black p-1 rounded-lg
          flex flex-col ml-[5%] py-8 gap-8
        ">
          <div class="flex flex-col gap-2">
            <h1 class="font-semibold">
              {portfolio.title}
            </h1>
            <p class="text-(--text-color) text-justify">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. At, voluptates.
            </p>
          </div>
          <div class="flex flex-row gap-2 items-center">
            <p>
              Made Width :
            </p>
            <div class="flex flex-row gap-2">
              {portfolio.technologies.map((tech) => (
                <img 
                  src={`/svg/tecs/${tech}.svg`} 
                  class="h-auto w-6 lg:w-8"
                  loading="lazy" 
                />
              ))}
            </div>
          </div>
          <div class="flex flex-row items-center justify-between">
            <a href={portfolio.url} target="_blank" class="button w-[45%]">Resipotery</a>
            {portfolio.build && (
              <a href={portfolio.build} target="_blank" class="button w-[45%]">Product</a>
            )}
          </div>
        </div>
      </div>
    ))}
  </div>
  <div class="self-center md:mt-5">
    See more on my github,
    <a href="https://github.com/CatC0de1" class="text-slate-400 hover:text-(--hover-color) active:text-(--secondary-color) transition" target="_blank">
      click here
    </a>
  </div>
</section>